.navbar{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  box-shadow: var(--shadow);
}

.links a{
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.toggle{
    background: var(--primary);
  color: white;
}